body {
  background-color:#ffffff;
  
}
.navbar{
  background-color:#f8f8fa!important;
 }
.footer {
   background-color:#f8f8fa!important;
}
.navbar a {
  font-size: 1.3rem;
 }

 .navbar a:hover {
  color:#ff3838!important;
 }

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #ff3838 ;
}

.rcorners {
  border-radius: 25px; 
 }

.img{
  border-radius: 10px 10px 0px 0px;
  padding: 0px !important;
  
}


.cwidth{
  min-height:100px;
  max-height: 100px;
 
}
.hero {
  border-radius: 25px;
  height: 450px
}

@media (max-width:1199px){
  .hero {
       height: auto;
  }
  
}

.cards {
  border-radius:25px ; 
}
.cimg {
  border-radius:25px ;
 }

 .martop{
   margin-top: 6rem !important;
 }

 .slideVertical{
   vertical-align: middle !important;
   margin-top: 40px;
 }

 @media (max-width:768px){
  .slideVertical {
   
    margin-top: 0px;
    font-size: 12px;
}
 }
 
 .searchbar {
   background-color: #535c68!important;
 }
 
 .searchbar h5 {
  color: #ffffff!important;
}

.navi {
  color: #ffffff ;
}

.bg-primary {
  background-color: #e9f1eb !important;
}

.btn-success {
  color: #fff;
  background-color:#14ef45 ;
  border-color: #14ef45 ;
}
.btn-success {
  color: #fff;
  background-color: #14ef45;
  border-color: #14ef45;
}

.btn-success:focus {
  color: #fff;
  background-color: #14ef45;
  border-color: #14ef53;
  box-shadow: 0 0 0 0.2rem rgba(6, 245, 62, 0.952);
}

.btn-success:hover {
  color: #fff;
  background-color: #14ef45 ;
  border-color: #14ef45;
}

